<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

    <!-- HEADER -->

        <!-- Navigation -->
        <nav th:replace="fragments :: navigation"></nav>

    <!-- BODY CONTENT -->

        <div class="container">
    
            <!-- Title -->
            <h1 th:text="${title}">title</h1>
    
            <hr>
    
            <!-- Event Form -->
            <form method="post" action="/events/form">
                <div class="form-group">
                    <label for="eventName">Enter an event name:</label>
                    <input class="form-control" type="text" id="eventName" name="name" placeholder="Event Name" />
                    <p th:text="${errorMsgName}" style="color: red"></p>
                </div>
                
                <div class="form-group">
                    <label for="eventDescription">Enter a description:</label>
                    <input class="form-control" type="text" id="eventDescription" name="description" placeholder="Description" />
                    <p th:text="${errorMsgDescription}" style="color: red"></p>
                </div>
                
                <div class="form-group">
                    <label for="contactEmail">Contact Email:</label>
                    <input class="form-control" type="text" id="contactEmail" name="contactEmail" placeholder="Contact Email" />
                    <p th:text="${errorMsgContactEmail}" style="color: red"></p>
                </div>
                
                <input type="submit" class="btn btn-primary" value="submit" />
            </form>

        </div>

    </body>
</html>