<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

    <!-- HEADER -->

        <!-- Navigation -->
        <nav th:replace="fragments :: navigation"></nav>

    <!-- BODY CONTENT -->

        <div class="container">

            <!-- Title -->
            <h1>Events Home Page</h1>

            <hr>

            <!-- Event Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Events</th>
                    </tr>
                </thead>
                <tb ody>
                    <tr th:each="event : ${events}">
                        <td th:text="${event.name}">Event Name</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </body>
</html>