<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

    <!-- HEADER -->

        <!-- Navigation -->
        <nav th:replace="fragments :: navigation"></nav>

    <!-- BODY CONTENT -->

        <!-- Title -->
        <h1>Events Home Page</h1>

        <hr>

        <!-- Event Table -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Events</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event}">Event Name</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>