<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

    <!-- HEADER -->

        <!-- Navigation -->
        <nav th:replace="fragments :: navigation"></nav>

    <!-- BODY CONTENT -->

    
        <div class="container">
            
            <!-- Title -->
            <h1 th:text="${title}">title</h1>

            <!-- Remove Contact Form -->
            <form method="post" action="/contacts/remove">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="contact : ${contacts}">
                            <td><input type="checkbox" name="contactIds" th:value="${contact.id}" /></td>
                            <td th:text="${contact.id}">id</td>
                            <td th:text="${contact.firstName}">first name</td>
                            <td th:text="${contact.lastName}">last name</td>
                            <td th:text="${contact.email}">email</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Submit Button -->
                <input class="btn btn-danger" type="submit" value="Remove" />
            </form>
    

        </div>

    </body>
</html>